body {
   box-sizing: border-box;
   position: relative;
}

main {
   width: 70%;
   position: relative;
   left: 0;
   float: left;
   height: 100%;
}

aside {
    height: 150vh;
    position: relative;
    width: 30%;
    float: right;
    height: 100%;
    z-index: 1;
}

header {
   width: 100%;
   float: inline-start;
}
.header_line{
   top: 0;
   position: fixed;
   z-index: 2;
   width: 100%;
}

footer {
   width: 100%;
   float: inline-end;
}

.info {
    height: 460px;
}

.client_stories {
   column-count: 3;
   column-gap: 20px;
}
.client_stories h2{
   column-span: all;
   text-align: center;
}
.all-columns {
   width: 100%; 
}


.features {
   column-count: 2;
   width: 100%;
}

.features h2{
   text-align: center;
   column-span: all;
}

.info{
   overflow: auto;
}

aside{
   position: relative;
}
form{
   position: absolute; /* Абсолютное позиционирование */
   bottom: 0; /* Размещаем форму внизу */
   left: 0; /* Размещаем форму в левом углу боковой панели */
   width: 100%; /* Ширина формы равна ширине боковой панели */і
}