body {
   box-sizing: border-box;
   position: relative;
}

* {
   box-sizing: inherit; 
}

main {
   width: 70%;
   position: relative;
   float: left;
}

aside {
   height: 150vh;
   position: relative;
   width: 30%;
   float: right;
   z-index: 1;
}

header {
   width: 100%;
   float: inline-start;
}
.header_line{
   top: 0;
   position: fixed;
   z-index: 2;
   width: 100%;
}

footer {
   width: 100%;
   float: inline-end;
}

.info {
    height: 460px;
}

.client_stories {
   column-count: 3;
   column-gap: 20px;
}
.client_stories h2{
   column-span: all;
   text-align: center;
   width: 100%;
}
.column{
   width: 100%;
}

.features {
   column-count: 2;
   column-gap: 0;
   width: 100%;
}

.features h2{
   text-align: center;
   column-span: all;
   width: 100%;
}

.info{
   overflow: auto;
}

aside{
   position: relative;
}
form{
   position: absolute;
   bottom: 0; 
   left: 0; 
   width: 100%; 
}